<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.docgenerici.selfbox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".android.SelfBoxApplicationImpl"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="63e9c1e41a44fa84d05fbadd495ac1109f25749c" />

        <activity
            android:name=".android.start.StartActivity"
            android:noHistory="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".android.home.HomeActivity" />
        <activity android:name=".android.contents.ContentsActivity"></activity>
    </application>

</manifest>